{% extends 'complaints/base.html' %}

{% load static %}

{% block title %}Page d'accueil{% endblock %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Bienvenue</h1>
          <h6 data-aos="fade-up" data-aos-delay="400">Votre espace dédié à la
            gestion des plaintes de manière efficace et transparente. Nous comprenons que soumettre une plainte peut
            être une démarche délicate, c'est pourquoi nous avons conçu une plateforme simple et sécurisée pour vous
            permettre de faire entendre votre voix. Que vous ayez une réclamation ou un souci, notre équipe est là pour
            vous accompagner à chaque étape du processus, garantissant que votre plainte soit traitée avec le plus grand
            sérieux.
          </h6>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="{% url 'let_plaint' %}" class="btn-get-started scrollto">Déposez votre plainte ici</a>
          </div>
        </div>

        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <div class="carousel">
            <div class="carousel-images">
              <img src="{% static 'complaints/image/law.jpeg' %}" class="carousel-item active" alt="Image 1">
              <img src="{% static 'complaints/image/stats-bg.jpg' %}"class="carousel-item" alt="Image 2">
            </div>
        </div>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->


    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>A propos</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              [Nom de la Plateforme] a été fondée avec l’objectif de révolutionner la gestion des plaintes en offrant
              une solution accessible et transparente.
              Nous croyons fermement en l'importance d'un système où les préoccupations des individus sont traitées avec
              respect et efficacité.
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              Notre équipe est composée de professionnels expérimentés qui s'engagent à assurer que chaque plainte est
              examinée minutieusement et résolue de manière appropriée.
              Nous sommes déterminés à améliorer continuellement nos services pour répondre aux besoins croissants de
              nos utilisateurs. </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-file-earmark-text service-icon"></i></div>
              <h4 class="title"><a href="{% url 'let_plaint' %}">Soumission de Plaintes en Ligne</a></h4>
              <p class="description">Remplissez facilement un formulaire en ligne pour soumettre votre plainte avec tous
                les détails nécessaires.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-eye service-icon"></i></div>
              <h4 class="title"><a href="{% url 'my_plaints' %}">Suivi en Temps Réel </a></h4>
              <p class="description"> Suivez l’avancement de votre plainte à chaque étape, depuis la réception jusqu’à
                la résolution.</p>
            </div>
          </div>

          

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bi bi-shield-lock"></i></div>
              <h4 class="title"><a href="">Confidentialité Totale</a></h4>
              <p class="description"> Nous garantissons que toutes les informations que vous soumettez sont traitées de
                manière confidentielle.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->

{% endblock %}