<div class="container-fluid py-4">
    <div class="row text-center">
        <h3 class="text-center py-3">Bienvenue sur ClariSolve</h3>
    </div>
    <fieldset class="mx-auto">
        <legend class="text-center">Formulaire d'une plainte</legend>
        <div class="row py-2">
            <div class="col">
                <label for="id_motif">Motif de la plainte</label>
            </div>
            <div class="col">
                form.motif
            </div>
        </div>

        <div class="row py-2">
            <div class="col">
                <label for="id_motif"> de la plainte</label>
            </div>
            <div class="col">
                form.motif
            </div>
        </div>

        <div class="row py-2">
            <div class="col">
                <label for="id_motif">Motif de la plainte</label>
            </div>
            <div class="col">
                form.motif
            </div>
        </div>
    </fieldset>
</div>