{% extends 'accounts/base.html' %}

{% load static %}

{% block title %} ADmin dashboard {% endblock %}
{% block content %}

<div class="row mx-auto my-5">
    {% if responses %}
      {% for response in responses %}
        <div class="col bg-light mx-5 border rounded mt-5 py-3" id="response_{{forloop.count0}}">
          <p style="color: black;">Plainte du {{ response.complaint.incident_registered }}</p>
          <div class="ms-2">{{ response.message }}
            <p>Repondu le {{ response.date_receiving }}</p>
          </div>
          <p>Soumise le {{ response.complaint.incident_date }}</p>
          <p>Destinataire {{ response.complainant.full_name }}</p>
        </div>
      {% endfor %}
    {% endif %}
  </div>

  {% endblock %}