
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


{% extends 'accounts/base.html' %}

{% load static %}

{% block title %} ADmin dashboard {% endblock %}
{% block content %}

<div class="container-fluid px-4">

    <h1 class="text-center">Detail de la plainte de {{complaint.full_name}}</h1>
    <div class="row mx-auto my-2 p-2">
        <h4 class="text-center">Motif de la plainte </h4>
        <div class="row rounded">
            {{complaint.motif}}
        </div>
    </div>
    <div class="row mx-auto my-2 p-2">
        <hr>
        <h4 class="text-center">Description de la plainte </h4>
        <div class="row rounded">
            {{complaint.description}}
        </div>
    </div>  
    <div class="row mx-auto my-2 p-2">
        <h4 class="text-center">Date d'enregistrement la plainte </h4>
        <div class="row rounded">
            {{complaint.incident_registered}}
        </div>
    </div>
    <div class="row mx-auto my-2 p-2">
        <h4 class="text-center">Date de l'incident </h4>
        <div class="row rounded">
            {{complaint.incident_date}}
        </div>
    </div>
    <div class="row py-3">
        <h4 class="text-center">Preuves de la plainte</h4>
        {% if images %}
            <div class="row rounded">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                        {% for element in images.count() %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ elemnt}}"></li>
                        {% endfor%}
                        </ol>
                        {% for image in images %}
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="{{image.url}}" alt="{{image.name}}">
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Precedent</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Suivant</span>
                        </a>
                        {% endfor %}
                      </div>
                </div>
            </div>
        {% endif %}
    </div>      
    <form action=""></form>
</div>
{% endblock %}