{% extends 'accounts/base.html' %}

{% load static %}

{% block title %} Admin Dashboard {% endblock %}

<style>
    .custom-tooltip .tooltip-inner {
    background-color: aquamarine; 
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px; 
    text-align: center; 
}

.custom-tooltip .tooltip-arrow {
    border-top-color: white; 
}

</style>
{% block content %}
<div class="container-fluid px-4">
    <h1 class="text-center">Détail de la plainte de {{ complainant }}</h1>

    <div class="row mx-auto my-2 p-2 bg-light rounded">
        <h4 class="text-center">Motif de la plainte</h4>
        <div class="row rounded text-uppercase bg-transparent">
            {{ complaint.motif }}
        </div>
    </div>

    <div class="row mx-auto my-2 p-2 bg-light rounded">
        <h4 class="text-center">Description de la plainte</h4>
        <div class="row rounded">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae quos voluptates, omnis quas laboriosam vel ipsam blanditiis sunt dolorum aperiam! Impedit adipisci, possimus voluptate fuga commodi sit sunt qui architecto?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam possimus iure quaerat, velit est, quos nulla maxime laudantium facilis omnis beatae. Ducimus reprehenderit molestias molestiae vel repellendus odio, sapiente expedita?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, ea delectus repellat at accusantium error sunt tempore praesentium explicabo ipsam ex impedit est voluptatibus debitis dolores! Ipsum culpa debitis error.
            {{ complaint.description }}
        </div>
    </div>

    <div class="row mx-auto my-2 p-2 bg-light rounded">
        <h4 class="text-center text-info text-uppercase">Statut de la plainte : Il y'a {{ complaint.incident_registered | timesince }}</h4>
        <p class=""></p>
    </div>

    <div class="row mx-auto my-2 p-2 bg-light rounded">
        <h4 class="text-center">Date d'enregistrement de la plainte</h4>
        <p class="text-info text-uppercase">Il y'a {{ complaint.incident_registered | timesince }}</p>
    </div>

    <div class="row mx-auto my-2 p-2 bg-light rounded">
        <h4 class="text-center">Date de l'incident</h4>
        <p class="text-info text-uppercase">Soumis en {{ complaint.incident_date | upper }}</p>
    </div>

    <div class="row  mx-auto py-3 my-3">
        <h4 class="text-center">Preuves de la plainte</h4>
        {% if proofs %}
        <div class="row border rounded py-3">
            <div id="carouselImages" class="carousel slide my-2" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for proof in proofs %}
                    {% if proof.image %}
                    <li data-target="#carouselImages" data-slide-to="{{ forloop.counter0 }}"
                        class="{% if forloop.first %}active{% endif %}"></li>
                    {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for proof in proofs %}
                    {% if proof.image %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img class="d-block w-100" src="{{proof.image.url}}" alt="{{ image.name }}">
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselImages" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Précédent</span>
                </a>
                <a class="carousel-control-next" href="#carouselImages" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>
        </div>
        {% endif %}

        {% if proofs %}
        <div class="row border rounded py-3 my-3">
            <div id="carouselVideos" class="carousel slide my-2" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for proof in proofs %}
                    {% if proof.video %}
                    <li data-target="#carouselVideos" data-slide-to="{{ forloop.counter0 }}"
                        class="{% if forloop.first %}active{% endif %}"></li>
                    {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for proof in proofs %}
                    {% if proof.video %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <video class="d-block w-100" controls>
                            <source src="{{ proof.video.url }}">
                            Votre navigateur ne supporte pas la vidéo.
                        </video>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselVideos" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Précédent</span>
                </a>
                <a class="carousel-control-next" href="#carouselVideos" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>
        </div>
        {% endif %}

        {% if proofs %}
        <div class="row border rounded py-3 my-3">
            <div id="carouselAudios" class="carousel slide my-2" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for proof in proofs %}
                    {% if proof.audio %}
                    <li data-target="#carouselAudios" data-slide-to="{{ forloop.counter0 }}"
                        class="{% if forloop.first %}active{% endif %}"></li>
                    {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for proof in proofs %}
                    {% if proof.audio %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <audio class="d-block w-100" controls>
                            <source src="{{ proof.audio.url }}" type="audio/mpeg">
                            Votre navigateur ne supporte pas l'audio.
                        </audio>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselAudios" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Précédent</span>
                </a>
                <a class="carousel-control-next" href="#carouselAudios" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>
        </div>
        {% endif %}
    {% if not proofs %}
        <div class="row rounded-pill  w-25 p-3 text-center text-danger bg-light">
            Pas de preuves fournises
        </div>
    {% endif %}
    </div>
    <form method="POST">
        {% csrf_token %}
        <h3 class="text-center">Donner l'état de la plainte</h3>
            <div class="row mx-auto">
                <div class="col mx-3 bg-white text-uppercase rounded-pill mx-5  p-3 w-25" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" title="Cocher mettra le statut de la plainte à traité">
                    <div class="form-check form-switch">
                        {{ form.status }}
                        <label class="form-check-label" for="flexSwitchCheckDefault">Traiter la plainte</label>
                    </div>
                </div>
                <div class="col mx-auto p-3 w-25 bg-white text-uppercase rounded-pill" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" title="Cocher mettra le statut de la plainte à rejecter">
                    <div class="form-check form-switch">
                        {{ form.reject }}
                        <label class="form-check-label" for="flexSwitchCheckReject">Vous n'approuvez pas la plainte</label>
                    </div>
                </div>
            </div>
        <div class="row my-2 justify-content-end">
            <div class="col-auto me-4">
                <button type="submit" class="btn btn-success rounded-pill">Valider</button>
            </div>
        </div>
    </form>
    
</div>
<script>

    document.addEventListener('DOMContentLoaded', (event) => {
    const formStatus = document.getElementById('flexSwitchCheckDefault');
    const formReject = document.getElementById('flexSwitchCheckReject');

    formStatus.addEventListener('change', function() {
        if (this.checked) {
            formReject.disabled = true;
        } else {
            formReject.disabled = false;
        }
    });

    formReject.addEventListener('change', function() {
        if (this.checked) {
            formStatus.disabled = true;
        } else {
            formStatus.disabled = false;
        }
    });
});

</script>
{% endblock %}
