{% extends 'accounts/base.html' %}

{% load static %}

{% block title %} Admin Dashboard {% endblock %}

<style>
    .custom-tooltip .tooltip-inner {
    background-color: aquamarine; 
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px; 
    text-align: center; 
}

.custom-tooltip .tooltip-arrow {
    border-top-color: white; 
}



</style>
{% block content %}
<div class="container-fluid px-4">
    <h1 class="text-center">Détail de la plainte de {{ complainant }}</h1>

    <div class="row mx-auto my-2 p-2 bg-light rounded">
        <h4 class="text-center">Motif de la plainte</h4>
        <div class="row rounded text-uppercase bg-transparent">
            {{ complaint.motif }}
        </div>
    </div>

    <div class="row mx-auto my-2 p-2 bg-light rounded">
        <h4 class="text-center">Description de la plainte</h4>
        <div class="row rounded p-2">
            {{ complaint.description }}
        </div>
    </div>

    <div class="row mx-auto my-2 p-2 bg-light rounded">
        <h4 class="text-center">Statut de la plainte </h4>
        <p class="text-info text-uppercase">{{ complaint.get_status_display}}</p>
    </div>

    <div class="row mx-auto my-2 p-2 bg-light rounded">
        <h4 class="text-center">Date d'enregistrement de la plainte</h4>
        <p class="text-info text-uppercase">Il y'a {{ complaint.incident_registered | timesince }}</p>
    </div>

    <div class="row mx-auto my-2 p-2 bg-light rounded">
        <h4 class="text-center">Date de l'incident</h4>
        <p class="text-info text-uppercase">Soumis en {{ complaint.incident_date | upper }}</p>
    </div>
    {% if proofs %}
    <div class="row  mx-auto py-3 my-3">
        <h4 class="text-center">Preuves de la plainte</h4>
            {% for proof in proofs%}
            {% if proof.image %}
            <div class="col">
                <div class="card mx-3 my-2" style="width: 18rem;">
                    <!-- <img src="..." class="card-img-top" alt="{{ proof.video.name }}"> -->
                    <div class="card-body">
                      <h5 class="card-title">{{ complaint.motif | truncatewords:3 }}</h5>
                      <a href="{{ proof.image.url }}" class="btn btn-primary">Ouvrir</a>
                    </div>
                </div>
            </div>
            {% endif %}
    
            {% if proof.video %}
            <div class="col ">
                <div class="card mx-3 my-2" style="width: 18rem;">
                    <!-- <img src="..." class="card-img-top" alt="{{ proof.video.name }}"> -->
                    <div class="card-body">
                      <h5 class="card-title">{{ complaint.motif | truncatewords:3 }}</h5>
                      <a href="{{ proof.video.url }}" class="btn btn-primary">Ouvrir</a>
                    </div>
                </div>
            </div>
            {% endif %}
    
            {% if proof.document %}
            <div class="col ">
                <div class="card mx-3 my-2" style="width: 18rem;">
                    <i class="fa fa-image fs-5" style="width: 18rem;"></i>
                    <div class="card-body">
                      <h5 class="card-title">{{ complaint.motif | truncatewords:3 }}</h5>
                      <a href="{{ proof.document.url }}" class="btn btn-primary">Ouvrir</a>
                    </div>
                </div>
            </div>
            {% endif %}
    
            {% if proof.audio %}
            <div class="col ">
                <div class="card mx-3 my-2" style="width: 18rem;">
                    <!-- <img src="..." class="card-img-top" alt="{{ proof.audio.name }}"> -->
                    <div class="card-body">
                      <h5 class="card-title">{{ complaint.motif | truncatewords:3 }}</h5>
                      <a href="{{ proof.audio.url }}" class="btn btn-primary">Ouvrir</a>
                    </div>
                </div>
            </div>
            {% endif %}
    
            {% endfor %}
        </div>
    </div>
    {% endif %}
    


    {% if not proofs %}
        <div class="row rounded-pill  w-25 p-3 text-center text-danger bg-light">
            Pas de preuves fournises
        </div>
    {% endif %}
    </div>

    {% if complaint.status == 'running' %}
    <form method="POST">
        {% csrf_token %}
        <h3 class="text-center">Donner l'état de la plainte</h3>
            <div class="row mx-auto">
                <div class="col mx-3 bg-white text-uppercase rounded-pill mx-5 my-2 p-3 w-50 w-lg-25" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" title="Cocher mettra le statut de la plainte à traité">
                    <div class="form-check form-switch">
                        {{ form.status }}
                        <label class="form-check-label" for="flexSwitchCheckDefault">Traiter la plainte</label>
                    </div>
                </div>
                <div class="col mx-auto p-3 w-50 w-lg-25 my-2 bg-white text-uppercase rounded-pill" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" title="Cocher mettra le statut de la plainte à rejecter">
                    <div class="form-check form-switch">
                        {{ form.reject }}
                        <label class="form-check-label" for="flexSwitchCheckReject">Vous n'approuvez pas la plainte</label>
                    </div>
                </div>
            </div>
        <div class="row my-2 justify-content-end">
            <div class="col-auto me-4">
                <button type="submit" class="btn btn-success rounded-pill">Valider</button>
            </div>
        </div>
    </form>
    {% endif %}
</div>
<script>

    document.addEventListener('DOMContentLoaded', (event) => {
    const formStatus = document.getElementById('flexSwitchCheckDefault');
    const formReject = document.getElementById('flexSwitchCheckReject');

    formStatus.addEventListener('change', function() {
        if (this.checked) {
            formReject.disabled = true;
        } else {
            formReject.disabled = false;
        }
    });

    formReject.addEventListener('change', function() {
        if (this.checked) {
            formStatus.disabled = true;
        } else {
            formStatus.disabled = false;
        }
    });
});

</script>
{% endblock %}
