{% extends 'accounts/base.html' %}

{% load static %}
{% block title %} {% endblock %}

{% block content %}

<div class="mx-auto px-4">
    <form method="POST">
        {% csrf_token %}
        <div class="mx-auto px-2 py-3">
            <div class="row my-2 mx-auto">
                <div class="col justify-content-end">
                    <label class="text-end" for="id_full_name">Nom complet</label>
                </div>
                <div class="col">
                    {{ form.full_name }}
                </div>
            </div>
            <div class="row my-2 mx-auto">
                <div class="col justify-content-end">
                    <label class="text-end" for="id_phone">Telephone</label>
                </div>
                <div class="col">
                    {{ form.phone }}
                </div>
            </div>
            <div class="row my-2 mx-auto">
                <div class="col justify-content-end">
                    <label class="text-end" for="id_email">Email </label>
                </div>
                <div class="col">
                    {{ form.email }}
                </div>
            </div>
            <div class="row my-2 mx-auto">
                <div class="col justify-content-end">
                    <label class="text-end" for="id_status">Statut</label>
                </div>
                <div class="col">
                    {{ form.status }}
                </div>
            </div>
            <div class="row my-2 mx-auto">
                <div class="col justify-content-end">
                    <label class="text-end" for="id_password1">Mot de passe</label>
                </div>
                <div class="col">
                    {{ form.password1 }}
                </div>
            </div>
            <div class="row my-2 mx-auto">
                <div class="col justify-content-end">
                    <label class="text-end" for="id_password2">Confirmer</label>
                </div>
                <div class="col">
                    {{ form.password2 }}
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Créer l'utilisateur</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}